u {
    font-size: 6rem;
    color: var(--pink);
    list-style: none;

    
}
li {

    color: white;
    text-decoration: none! important;
}
p {
    font-size: 2.5rem;
}
.verbiageDiv {
    border: .2rem solid var(--pink);
    border-radius: 2rem
}

.pugPic {
    height: 80vh;
    border-radius: 2rem;
}

a {
    text-decoration: none;
    color: var(--pink);
    font-size: 3rem;
}

a:hover {
    text-decoration: underline;
    color: var(--darkPink)

}
