.homeContainer {
    margin-top: 0rem;
    margin-bottom: 0rem;
    min-height: 80vh;
    max-width: 95vw;
}
.profilePic {
max-height: 70vh;
border-radius: 2rem;
}
.homeName {
font-size: 8rem;
color: #EA999E;
font-weight:bolder;
text-decoration: none;

}
.homeNameTitle {
font-size: 8rem;
color: white;
font-weight:bolder;


}
.elevatorPitch {
    color: white;
    font-size: 2.5rem
}
.mainVerbiageDiv {
    min-height: 80vh;
}
.homeVerbiageDiv {
    max-width: 850px;
    min-height: 80vh;
    background: var(--darkBlue);
    border-radius: 2rem;
    padding-top: 0px;
    padding-left: 2rem;
}

.mainImageCol{
    display: flex;
    justify-content: center;
    align-items: center;


}

.homeResumeButton {
    background-color: var(--pink);
    min-width: 20rem;
    min-height: 3rem;
    margin-top: 2rem;
    font-size: 2rem;
    border-radius: 1rem;
    border:none;
}
.homeResumeButton:hover {
    background-color: var(--darkPink);
}

@media (width < 992px) {
   #bs-override-home .profilePic {
        max-height: 20rem;
        margin-top: 1rem;
    }
    #bs-override-home .homeContainer {
        height: 81vh;
        width: 100%;
    }
    #bs-override-home .homeVerbiageDiv {
        min-height: auto;
        background: none;
        padding-left: 0px;

    }
    #bs-override-home .homeRow{
        border: .2rem solid var(--darkPink);
        padding: 1rem;
        background: var(--darkBlue);
        border-radius: 2rem;
    }
    #bs-override-home .mainImageCol {
        justify-content: start;
        margin-left: 2rem;
        margin-bottom: 0rem;
        
    }
    #bs-override-home .homeNameTitle, .homeName {
        font-size: 5rem;
    }
}

@media (width<700px) {
    #bs-override-home .homeName, #bs-override-home .homeNameTitle {
        font-size: 2.5rem;
    }
    #bs-override-home .homeNameTitle  {
        font-size: 2.2rem
    }
    #bs-override-home .homeContainer {
    height: 81vh;
    }
    #bs-override-home .elevatorPitch {
        font-size: 1.5rem;
    }
    #bs-override-home .homeResumeButton {
        font-size: 2rem;
    }
    #bs-override-home .profilePic {
        max-height: 15rem;
    }
    #bs-override-home .iconImage {
        height: 6rem;
        width: 6rem;
    }

}