.projectContainer{
    width: 95vw;
}
.projectCardCol{
    padding: 2rem;
    display: flex;
    justify-content: center;
}
.projectsTitle{
    font-size: 6rem;
    text-align: center;
    color: var(--pink);
    background: var(--darkBlue);
    border-radius: 1rem;
    text-decoration: underline;
    font-weight: bolder;
}
.projectsTitleDiv{
    display:flex;
    justify-content:center;
   
}
.projectCardMain {

    border: .4rem solid var(--darkPink);
    border-radius: 1rem;
    background: rgb(241, 212, 217);
}
.projectCardImage{
    border-bottom: .4rem solid var(--darkPink);
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}
.projectsCardTitle{
    font-size: 2.5rem;
    font-weight:bolder;
}

.projectsCardAbout{
    font-size: 1.5rem;
    height: 3.5rem;
}

.projectCardBWeb {
    background: var(--darkPink);
    border: none;
}
.projectCardBMore {
    background: var(--picBlue);
    border: none;
}
.projectCardBMore:hover, .projectCardBWeb:hover {
    opacity: .4
}
.projectCardButtonDiv {
    display: flex;
    justify-content: space-between;
}
.projectCardBody {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}