.workContainer {
    width: 95vw;
}
.workCompany {
    font-size: 6rem;
    color: var(--pink);
    /* text-decoration: underline */
}
.workLocation {
    font-size: 4rem;
    color: var(--pink);
   
}

.workUl {
    font-size: 2.5rem;
    color: var(--pink);
    list-style: none;
    text-decoration: none;
    list-style-position: none;
    padding: 0px;
    margin: 0px
    
}
.workLi {
    font-size: 2rem;
    color: white;
    padding-left: 2rem;
   
}
.workSum {
    font-size: 2.5rem;
    color: white;
}
.workVerbiageDiv {
    border: .2rem solid var(--pink);
    border-radius: 2rem;
    background: var(--darkBlue);
}

.carouselPicDiv {
    border-radius: 2rem;
    border: .2rem solid green;
    
}

.workPics {
    border-radius: 3rem;
    height: 80vh;
}

.listItem {
    text-decoration: none;
    
}

.workResumeButton {
    background-color: var(--pink);
    min-width: 20rem;
    min-height: 3rem;
    margin-top: 2rem;
    font-size: 2rem;
    border-radius: 1rem;
    border:none;
}
.workResumeButton:hover {
    scale: 1.1;
    background-color: var(--darkPink);
}
.workHide {
    display: none;
}
/* .workImageCol {
 border: .2rem solid red;
} */
@media (width<992px){
    .workPics {
        height: 100%;
        max-height: 75vh;
        margin-bottom: 2rem;
        
    }
    .workHide {
        display:block;
    }
    .workCompany {
        font-size: 5.5rem;
    }
    .workImageCol {
        height: 90vh;
    }
}
@media (width<500px){
    .workCompany {
        font-size: 3rem;
    }
    .workLocation{
        font-size: 2.5rem;
    }
    .workSum, .workLi {
       font-size: 2rem;
    }
    .workUl {
        font-size: 2.2rem;
    }
    .workImageCol {
        height:auto;
    }
}
