.workCompany {
    font-size: 6rem;
    color: var(--pink);
    /* text-decoration: underline */
}
.workLocation {
    font-size: 4rem;
    color: var(--pink);
   
}

.workUl {
    font-size: 2.5rem;
    color: var(--pink);
    list-style: none;
    text-decoration: none;
    list-style-position: none;
    padding: 0px;
    margin: 0px
    
}
.workLi {
    font-size: 2rem;
    color: white;
    padding-left: 2rem;
   
}
.workSum {
    font-size: 2.5rem;
    color: white;
}
.workVerbiageDiv {
    border: .2rem solid var(--pink);
    border-radius: 2rem;
    margin-right: 2rem;
}

.carouselPicDiv {
    border-radius: 2rem;
    border: .2rem solid green;
    
}

.workPics {
    border-radius: 3rem;
    height: 80vh;
}

.listItem {
    text-decoration: none;
    
}

.workResumeButton {
    background-color: var(--pink);
    min-width: 20rem;
    min-height: 3rem;
    margin-top: 2rem;
    font-size: 2rem;
    border-radius: 1rem;
    border:none;
}
.workResumeButton:hover {
    scale: 1.1;
    background-color: var(--darkPink);
}

/* .workImageCol {
 border: .2rem solid red;
} */

