.schoolName {
    font-size: 6rem;
    color: var(--pink)
}
.degreeName {
    font-size: 3rem;
    margin-bottom:2rem;
    color: white;
}
.utlogo {
    max-width: 40%;
    
}
.utPic{
    width: 90%;
    border-radius: 2rem;
    border: 2rem solid var(--picBlue);


}
.eduVerbiageDi {
    height: 80vh; 
    border: .2rem solid var(--pink);
    border-radius: 2rem;
    padding:2rem;
    
}
