:root {
  --pink: #ea999e;
  --darkPink: #a56b6f;
  --darkBlue: #02142d;
  --picBlue: #031e44;
}
.navItem {
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
  padding-left: 2rem;
}
.navItem:hover {
  color: var(--pink);
}
.navMainDiv {
  min-height: 10vh;
}

.errorMessage {
  color: red;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

#bootstrap-override .errorBorder {
  border: 0.2rem solid red;
}

.submitButtonEmail {
  background: var(--darkPink) !important;
  border: none !important;
}
.submitButtonEmail:hover {
  background: rgb(140, 47, 62) !important;
}

#bootstrap-override-NavTab .navContainer {
  display: flex;
  justify-content: end;
}
.linkedIn {
  height: 40px;
  width: 40px;
}

@media (width<1000px) {
  #bootstrap-override-NavTab .navContainer {
    justify-content: start
  }
}
